<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOCTOR dash board</title>
    <link rel="stylesheet" href="/stylesheet/dash.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<%- include("../include/add") %> 
</head>
<body>
   <div class="container">
    <nav> 
        <div class="navigation">
            <ul id="navbr" class="nav">
                <li class="logo ">
                        <div class="icon"></div>
                         <img src="/image/aastu logo.jpg" alt="img">
                </li>
                <li class="active" >
                    
                        <div class="icon"><i class="fa-solid fa-list"></i></div>
                        <a href="/doctor/<%= id %>">
                          <h1 style="background-color: #000080; color: white;">DASHBOARD</h1> 
                        </a>
                </li>
                <li>
                    
                    <div class="icon"><i class="fa-sharp fa-solid fa-eye"></i></div>
                        <div class=""> 
                            <a href="/login/doctor/<%= id %>">
                                <h1>
                                    VIEW PATIENT
                                </h1>
                            </a>
                      </div>
                
                </li>
                <li>
                    
                    <div class="icon"><i class="fa-sharp fa-solid fa-eye"></i></div>
                    <div class=""> 
                        <a href="/medical">
                            <h1>
                                MEDICAL HISTTORY
                            </h1>
                        </a>
                  </div>
                
                </li>
            </ul>
        </div>
    </nav>
    <div class="main">
        <div class="heading">
            <%- include("../include/notification") %>
            <h1>CLINICAL MANAGEMENT SYSTEM</h1>
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">DOCTOR <br><i class="fa-sharp fa-solid fa-caret-down"></i></button>
                <div id="myDropdown" class="dropdown-content ">
                  <% if(doctor){ %> 
                    <p style="padding-left: 15px;padding-top: 5px;"><%= doctor[1] %> <%= doctor[2] %> </p>
                    <a href="#" class="cpwrd" onclick="ChangeFunction()">change password</a>
                    <a href="/doctor/logout/<%= doctor[0] %>">logout</a>
                    <% } %> 
                </div>
         </div>
         <section   class="">
            <div>
        
                <div>
                    <div class="addpatient " style="position: absolute; top: 0; z-index: 10; background-color: transparent;" >
                        <form action="/dpassword/<%= id %>" method="post"  class="crtact " id="nwpswrd" >
                            <div class="hed">
                            <h1>CHANGE password</h1>
                            <i class="clicke">x</i>
                            </div>
        
                            <div class="column">
                                <div class="row">
                                    <label for="oldpswrd">OLD password:</label>
                                    <input type="password" id="oldpswrd" name="oldpassword" placeholder="enter old password..." required>
                                </div>
                                <div class="row">
                                    <label for="pswrd">NEW password:</label>
                                    <input type="password" id="newpswrd" name="password" placeholder="enter new password..." required>
                                </div>
                                <div class="row">
                                    <label for="pswrd">CONFIRM password:</label>
                                    <input type="password" id="confpswrd" name="password1" placeholder="confirm password..." required>
                                </div>
                                <div class="error none ">
                                    <p style="color: red; font-size: 10px; margin: 15px;">it doesn't match please confirm the password!!!!!!</p>
                                </div>
                                <div class="sucess none ">
                                    <p style="color:green; font-size: 10px; margin: 15px;">sucessfully matched the password!!!!!!</p>
                                </div>
                                <button>CHANGE</button>
                            </div>
                        </form>
                    </div>
            </div>
         </section>
        </div>
     <h1  class="h1"> DOCTOR | DASHBOARD</h1>
     <div class="card-box">
        <div class="card">
            <i class="fa-sharp fa-solid fa-eye"></i>
            <a href="/login/doctor/<%= id %>">
                <h5>view patient</h5>
           </a>
        </div>
        <div class="card">
            <i class="fa-sharp fa-solid fa-eye"></i>
            <a href="/medical">
                 <h5>MEDICAL HISTORY</h5>
            </a>
        </div>
        
        
    </div>
     
    <footer>
        <h5> cms 2022 all right reserved</h5>
    </footer>
   </div>
</div>
    <script src="/javascript/main.js"></script>
</body>
</html>